<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <title>Chat App Project</title>
    <style media="screen">
      :root {
        --background: #222831;
        --grey: #393e46;
        --text-grey: #aaa;
        --primary: #a3f7bf;
        --secondary: #29a19c;
      }
      html {
        background: var(--background);
        color: var(--primary);
      }
      a:hover {
        color: var(--secondary);
      }
      .title {
        color: var(--secondary);
      }
      .subtitle {
        color: var(--primary);
      }
      .subtitle strong {
        color: var(--secondary);
      }
      .content {
        color: var(--text-grey);
        line-height: 26px;
      }
      .content strong {
        color: var(--secondary);
        font-weight: 500;
        background: var(--grey);
        padding: 3px 6px;
        border-radius: 6px;
      }
      .container {
        max-width: 700px;
      }
    </style>
  </head>
  <body>
    {{{ body }}}
  </body>
</html>
